html {
    background-color: #deded8;
    font-family: Arial, sans-serif;
}

body {

}

article, aside, footer, header {
    padding: 0.6rem;
    box-sizing: border-box;
}

header {
    background-color: #0A7FEB;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid;
}

aside {
    background-color: white;

}

.videoDialogGood {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: green;
    height: 100%;
    width: 100%;
    text-align: center;
}

.videoDialogBad {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: darkred;
    height: 100%;
    width: 100%;
    text-align: center;
}

.videoDialogGood a {
    color: white;
}

.videoDialogBad a {
    color: white;
}

/* completed */

nav {
    display: flex;
    padding: 10px 0;
    font-size: 14px;
}

nav apptitle {
    text-align: left;
    min-width: 20rem;
    font-size: 24px;
    padding-top: 10px;
}

nav a {
    border-radius: 6px;
    text-align: center;
    margin: 5px;
    padding: 15px 10px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    outline: 1px solid #0A7FEB;
}

nav a:hover {
    background-color: #2A99FB;
    border-radius: 6px;
    outline: 1px solid #2A99FB;
}

/* side menu elements */
sidemenu {
    display: flex;
    flex-direction: column;
    color: #2899FB;
    margin-top: 10px;
}

sidemenu sidetitle {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 0px;

}

sidemenu a {
    font-size: 14px;
    padding: 7px 15px;
    color: #2899FB;
    border-radius: 5px;
}

sidemenu a:hover {
    background-color: #F1F9FF;
    outline: 1px solid #F1F9FF;
    border-radius: 5px;
}

/* Interface elements */

/* Article (main area) elements */

article {
    background-color: #fff;
    outline-offset: -10px;
    outline: 1px solid #BCE0FD;
    padding: 20px;
}

h1 {
    color: #2A99FB;
    font-size: 28px;
    margin-top: 10px;

}

h2 {
    color: #5d5d5d;
    font-size: 22px;
    margin-top: 10px;

}

/* form elements */
input[type=button], input[type=submit] {
    height: 40px;
    background-color: #2A99FB;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    padding: 0px 15px;
}

input[type=text], input[type=submit] {
    height: 40px;
    font-size: 16px;
    border: 2px solid #BCE0FD;
    border-radius: 5px;
    padding: 0px 15px;
}

td {
    padding: 5px;
}

thead {
    background-color: #D3D3D3;
    padding: 10px;
}

@media screen and (min-width: 30rem) {
    body {
        display: flex;
        flex-direction: column;
        max-width: 80rem;
        margin: auto;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        border-bottom: 0.2rem solid #ccc;
    }

    nav, header {
        order: -1;
    }

    article {
        flex: 75%;
    }

    aside {
        flex: 25%;
    }
}